@font-face {
    font-family: 'chewy';
    src: url(Chewy/Chewy-Regular.ttf);
}

@font-face {
    font-family: 'finger-print';
    src: url(Finger_Paint/FingerPaint-Regular.ttf);
}

@font-face {
    font-family: 'piedra';
    src: url(Piedra/Piedra-Regular.ttf);
}

@font-face {
    font-family: 'righteous';
    src: url(Righteous/Righteous-Regular.ttf);
}

.font-chewy {
    font-family: 'chewy', cursive;
}

.font-finger_print {
    font-family: 'finger-print', cursive;
}

.font-piedra {
    font-family: 'piedra', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.font-righteous {
    font-family: 'righteous', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}