
$colors: (
    dlPrimary: #000000,
    dlAccent: #e4007d,
    dlRed: #f83030,
    dlYellow: #ffbf35,
    dlGreen: #2bdf25,
    dlBlue: #23d1f0,
    dlBlackL: #2e2e2e,
    dlWhite: #ffffff,
    dlGrey: #727272
);

@function getColor($color) {
    @return map-get($colors, $color);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html, body {
    scroll-behavior: smooth;
    min-height: 100%;
    background-color: getColor(dlPrimary);
    background-image: url(../img/dark_digimon.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: getColor(dlBlackL);
    box-shadow: inset 0px 0px 2px getColor(dlAccent);
}

::-webkit-scrollbar-thumb {
    background-color: getColor(dlAccent);
}

.bg-primary { background-color: getColor(dlPrimary); }
.bg-accent { background-color: getColor(dlAccent); }
.bg-red { background-color: getColor(dlRed); }
.bg-yellow { background-color: getColor(dlYellow); }
.bg-green { background-color: getColor(dlGreen); }
.bg-blue { background-color: getColor(dlBlue); }
.bg-black { background-color: getColor(dlPrimary); }
.bg-blackl { background-color: getColor(dlBlackL); }
.bg-white { background-color: getColor(dlWhite); }
.bg-grey { background-color: getColor(dlGrey); }

.cl-white { color: getColor(dlWhite); }
.cl-black { color: getColor(dlPrimary); }
.cl-grey { color: getColor(dlGrey); }


.container-100vh{
    height: 100vh;
}

.container-header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;

    h2 {
        margin-left: 10px;
        span:last-child {
            margin-left: 5px;
            padding: 10px 15px;
            border-radius: 100px;
        }
    }
    h1 {
        margin-right: 10px;
        a {
            color: getColor(dlWhite);
            div {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                height: 32px;
                width: 32px;
                padding: 5px;
                border-radius: 50px;
                background-color: getColor(dlBlackL);
            }
        }
    }

}


.swiper-container {
    width: 100%;
    height: calc(100vh - 80px);
}
.swiper-slide {
    background-color: transparent;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.digi-card {
    width: 100%;
    background-color: getColor(dlWhite);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow: hidden;
    border: 5px solid getColor(dlGrey);
    .digi-card-img {
        width: 100%;
    }
    .digi-card-tag {
        font-size: 10px;
        padding: 5px;
        border-top: 2px solid getColor(dlPrimary);
        background-color: getColor(dlBlackL);
        color: getColor(dlWhite);
    }
}

.page-count-container {
    z-index: 99;
    position: absolute;
    left: 10px;
    bottom: 30px;
    background-color: getColor(dlWhite);
    padding: 10px 15px;
    border: 2px solid getColor(dlBlackL);
    border-radius: 25px 100px 100px 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.head-header { 
    min-height: 80px;
    background-color: getColor(dlAccent);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 5px getColor(dlGrey);

    .header-img {
        max-height: 70px;
    }

    h1 {
        font-size: 20px;
        color: getColor(dlWhite);
        text-shadow: 0px 0px 5px getColor(dlBlackL), 0px 0px 20px getColor(dlGreen);
    }
}

.head-content {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
    div {
        height: 25%;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            height: 95%;
            width: 95%;
            .link-button {
                height: 100%;
                width: 100%;
                color: getColor(dlWhite);
                background-color: transparent;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 20%;
                font-size: 16px;
                text-shadow: 0px 0px 5px getColor(dlBlackL), 0px 0px 10px getColor(dlWhite);
                transition: 0.8s ease;
                position: relative;
                overflow: hidden;
                border-right-width: 5px;
                border-right-style: solid;
                border-bottom-width: 5px;
                border-bottom-style: solid;
                z-index: 1;
                h3 {
                    z-index: 80;
                }
            }
            .link-button::after {
                content: '';
                z-index: 0;
                position: absolute;
                bottom: 0;
                right: 0;
                height: 0px;
                width: 0px;
                transition: 0.5s cubic-bezier(0, 0.6, 0.6, 0);
            }
            .link-button:hover::after {
                height: 100%;
                width: 100%;
                border-top-left-radius: 20%;
            }
        }
    }
}

a,a:link,a:visited,a:hover,a:focus,a:active{
    color: getColor(dlBlackL);
    text-decoration: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

#baby-link .link-button {
    border-right-color: getColor(dlWhite);
    border-bottom-color: getColor(dlWhite);
}
#baby-link .link-button:hover {
    color: getColor(dlBlackL);
}
#baby-link .link-button::after {
    background-color: getColor(dlWhite);
}


#training-link .link-button {
    border-right-color: getColor(dlBlue);
    border-bottom-color: getColor(dlBlue);
}
#training-link .link-button:hover {
    color: getColor(dlBlackL);
}
#training-link .link-button::after {
    background-color: getColor(dlBlue);
}

#rookie-link .link-button {
    border-right-color: getColor(dlGreen);
    border-bottom-color: getColor(dlGreen);
}
#rookie-link .link-button:hover {
    color: getColor(dlBlackL);
}
#rookie-link .link-button::after {
    background-color: getColor(dlGreen);
}

#champion-link .link-button {
    border-right-color: getColor(dlYellow);
    border-bottom-color: getColor(dlYellow);
}
#champion-link .link-button:hover {
    color: getColor(dlBlackL);
}
#champion-link .link-button::after {
    background-color: getColor(dlYellow);
}

#ultimate-link .link-button {
    border-right-color: getColor(dlRed);
    border-bottom-color: getColor(dlRed);
}
#ultimate-link .link-button:hover {
    color: getColor(dlWhite);
}
#ultimate-link .link-button::after {
    background-color: getColor(dlRed);
}

#mega-link .link-button {
    border-right-color: getColor(dlGrey);
    border-bottom-color: getColor(dlGrey);
}
#mega-link .link-button:hover {
    color: getColor(dlWhite);
}
#mega-link .link-button::after {
    background-color: getColor(dlGrey);
}


.gotop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 2px solid getColor(dlBlackL);
    background-color: getColor(dlWhite);
    color: getColor(dlBlackL);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    z-index: 99;
}

.loader-screen {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(getColor(dlWhite), 0.99);
    display: flex;
    justify-content: center;
    align-items: center;

    .loader-img {
        max-width: 100vw;
    }
}

.animation-loader-gone {
    animation-name: backgroundAnim;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}


@keyframes backgroundAnim {
    from { opacity: 0.99; }
    to { opacity: 0.0; }
}

@media (min-width: 768px) {
    .digi-card .digi-card-tag {
        font-size: 18px;
        padding: 20px;
    }
    .head-header {
        height: 100px;
        .header-img {
            max-height: 80px;
        }
        h1 {
            font-size: 40px;
        }
    }
    .head-content div a .link-button {
        font-size: 24px;
        border-right-width: 15px;
        border-bottom-width: 15px;
    }
    .container-header {
        h2 {
            font-size: 24px;
            margin-left: 20px;
            span:last-child {
                margin-left: 20px;
                padding: 10px 20px;
            }
        }
        h1 a div {    
            height: 48px;
            width: 48px;
            padding: 10px;
        }
    }
    .container-header h1 {
        margin-left: 20px;
        span:last-child {
            margin-left: 20px;
            padding: 10px 20px;
        }
    }
}

@media (min-width: 924px) {
    .head-content div {
        height: 40%;
        width: 30%;
    }
}